In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("https://raw.githubusercontent.com/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/main/quizdata/scores.csv")

In [8]:
data

               name            subject  score
0        John Smith            English     16
1      Mary Johnson            English     13
2     William Brown            English      8
3         James Lee            English     10
4   Patricia Garcia            English     15
..              ...                ...    ...
79     Jose Sanchez  Physics/Chemistry      9
80    Diane Morales  Physics/Chemistry      6
81        Ron Clark  Physics/Chemistry     16
82        Lisa Hall  Physics/Chemistry     17
83      Paul Torres  Physics/Chemistry      8

[84 rows x 3 columns]

In [21]:
math_data = data.loc[data["subject"] == "Math"]

In [22]:
round(math_data["score"].mean(), 2)

11.33

In [ ]:
data.groupby("name").loc[data.]