In [2]:
import numpy as np
import pandas as pd
# previous processing
loans = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/en-8253136-Use-Python-Libraries-for-Data-Science/main/data/loans.csv')

# calculate the debt-to-income ratio
loans['debt_to_income'] = round(loans['repayment'] * 100 / loans['income'], 2)

# rename rate to interest_rate
loans.rename(columns={'rate':'interest_rate'}, inplace=True)

# calculate the total cost of the loan
loans['total_cost'] = loans['repayment'] * loans['term']

# calculate monthly profits generated
loans['profit'] = round((loans['total_cost'] * loans['interest_rate']/100)/(24), 2)

loans.head()

,identifier,city,zip code,income,repayment,term,type,interest_rate,debt_to_income,total_cost,profit
0,0,CHICAGO,60100,3669.0,1130.05,240,real estate,1.168,30.80,271212.0,131.99
1,1,DETROIT,48009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69
2,1,DETROIT,48009,5310.0,1247.85,300,real estate,1.173,23.50,374355.0,182.97
3,2,SAN FRANCISCO,94010,1873.0,552.54,240,real estate,0.972,29.50,132609.6,53.71
4,3,SAN FRANCISCO,94010,1684.0,586.03,180,real estate,1.014,34.80,105485.4,44.57

In [12]:
high_risk_cust = loans.loc[loans["debt_to_income"] >35 ]

In [13]:
high_risk_cust.shape

(58, 11)

In [15]:
high_risk_cust_det = loans.loc[(loans["debt_to_income"] >35) & (loans["city"] == 'DETROIT') ]

In [16]:
high_risk_cust_det.shape

(16, 11)

In [20]:
loans["risk"] = "No"

In [22]:
loans.loc[loans["debt_to_income"] >35, "risk" ] = 'Yes'

In [24]:
loans.tail()

,identifier,city,zip code,income,repayment,term,type,interest_rate,debt_to_income,total_cost,profit,risk
239,224,DETROIT,48008,5118.0,1248.79,300,real estate,1.206,24.40,374637.0,188.26,No
240,224,DETROIT,48008,5118.0,238.20,25,automobile,3.423,4.65,5955.0,8.49,No
241,225,BALTIMORE,21100,2356.0,876.43,180,real estate,1.172,37.20,157757.4,77.04,Yes
242,226,DETROIT,48002,5098.0,2910.96,240,real estate,1.140,57.10,698630.4,331.85,Yes
243,227,DETROIT,48015,2348.0,434.38,300,real estate,1.157,18.50,130314.0,62.82,No

In [25]:
automobile_loans = loans.loc[loans["type"] =="automobile"]

In [27]:
automobile_loans.shape

(16, 12)

In [30]:
Total = automobile_loans["total_cost"].sum()

In [32]:
Total

218640.0